intel
intel_debug
gnu
gnu_debug
.DS_Store
all_plats.sh
list_plat
_install/src/dmft_tools_version.inc
install.log
.# *Minibuf-1*
build
build_gnu_mpi_jarvis
build_gnu_mpi_laptop
build_gnu_mpi/
../src/dmft_tools_current_sha1.inc
